.options{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    @media(max-width:576px){
       flex-wrap: wrap;
     }
    .options__checkbox{
        margin-left: 50px;
        margin-right: 13px;
        @media(max-width:576px){
            margin-left: 25px;
         }
    }
    .options__button{
        margin-right: 10px;
        @media(max-width:576px){
            margin-top: 5px;
            margin-bottom: 5px;
         }
        .options__buttonText{
            line-height: 20px;
        }
    }
    
}